################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/CrispSubtitleFramework/Private/SCTextLine.cpp
/Source/CrispSubtitleFramework/Public/SCTextLine.h
